<h1>Note Application</h1>
<br>
<br>
<table>
  <tr>
    <td class="note-side-bar">
      <ul class="list-group">
        <li class="list-group-item active" aria-current="true">Mes Notes <span class="badge bg-secondary">{{ notes.length }}</span> - <button class="btn btn-success" (click)="displayCreateNoteForm()">Nouveau</button></li>
        <li *ngFor="let note of notes" class="list-group-item" (click)="display(note.id)">{{ note.titre}} - <button class="btn btn-danger" (click)="doDeleteNote()">Supprimer</button></li>
      </ul>
    </td>
    <td class="note-details">
          <app-detail-note [note]="currentNote" *ngIf="isDisplayNote"></app-detail-note>
          <app-create-note *ngIf="isCreateNote"></app-create-note>
    </td>
  </tr>
</table>