.note-side-bar {
  width: 350px;
}

.note-side-bar ul {
  list-style-type: none;
}

.note-details {
  width: 750px;
  padding: 10px;
}

.note-side-title {
  height: 25px;
  border: 1px solid orange;
  margin-top:25px;
  padding: 5px;
}

.note-side-head-box {
  height: 50px;
  margin-top:25px;
  padding: 2px;
}

.note-detail-title {
  height: 25px;
  padding: 5px;
  border: 1px solid orange;
}

.note-detail-content {
  border: 1px solid black;
  padding: 15px;
}

.btn {
  width: 80px;
  height: 30px;
  padding: 5px;
  margin: 15px;
  color: white;
  border: none;
}

.btn-green {
  background-color: green;
}

.btn-red {
  background-color: red;
}