<h1>Note Application</h1>
<br>
<br>
<table>
  <tr>
    <td class="note-side-bar">
      <ul>
        <li class="note-side-title" >New - Delete</li>
        <li *ngFor="let note of notes" class="note-side-title" (click)="display(note.id)">{{ note.titre}}</li>
      </ul>
    </td>
    <td class="note-details">
        <div *ngIf="currentNote != null">
          <div class="note-detail-title">{{ currentNote.titre }}</div>
          <div class="note-detail-content">
            Categorie : {{ currentNote.idCategorie }} <br>
            {{ currentNote.contenu }}
        </div>
      </div>
    </td>
  </tr>
</table>